:root {

    /* размеры */
    --screen-notebook-height: 100%;
    --screen-notebook-width: 100%;
    --offset-default: 14px;

    --sidebar-toggle-button-size: 24px;
    --sidebar-option-button-size: 18px;

    --sidebar-width: 240px;

    /* цвета */
    --sidebar-background-color: #f1f1f1; /* он должен быть непрозрачный ?? */
    --hover-color: rgba(93, 109, 99, 0.17);


    /* иконки */
    --svg-icon-burger: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>');
}
