.ltn-block {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

/* ------------------------------------- */

.ltn-block-header {
    width: 100%;
}

/* ------------------------------------- */

.ltn-block-content {
    transition: all 0.1s linear
}

.ltn-block-content.hided {
    overflow: hidden;
    min-height: 0;
    max-height: 0;
    height: 0;
}

/* ------------------------------------- */

.ltn-settings {
    width: var(--settings-size);
    height: var(--settings-size);

    display: inline-block;

    background-position: center center;
    background-repeat: no-repeat;

    transition: opacity 0.1s linear;

    opacity: 0.15;
}

.ltn-settings:hover {
    cursor: pointer;
    opacity: 0.75 !important;
}

.ltn-block:hover > .ltn-settings {
    opacity: 0.35;
}

.ltn-settings.burger {
    background-image: var(--svg-icon-burger);
}

.ltn-settings.plus {
    background-image: var(--svg-icon-plus);
}

.ltn-settings.hide {
    background-image: var(--svg-icon-hide);

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: -webkit-transform 0.1s linear;
    transition: -moz-transform 0.1s linear;
    transition: -ms-transform 0.1s linear;
    transition: -o-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.ltn-settings.hide.hided {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
