@import "utils.css";

@import 'variables.css';
@import 'block.css';
@import 'screen.css';
@import 'option-list.css';

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #dcdcdc;
}
